@charset "utf-8";

@import "compass";
@import "variables";
@import "mixins";
@import "normalize";
@import "fontello";

* {
  @include box-sizing(border-box);
}

html {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.29;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
}

a {
  color: $font-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 1rem;
}

h1 {
  @include text-overflow;
  width: $logo-fixed-height * ($logo-width / $logo-height);
  height: $logo-fixed-height;
  margin: 0 auto;
  display: block;
  background: image-url('soap_logo.svg') no-repeat center center;

  @include respond-to(phone) {
    width: $logo-fixed-width;
    height: $logo-fixed-width * ($logo-height / $logo-width);
  }
}

h2 {
  margin: 0 0 48px $font-futura-spacing; // Left margin needed to offset weird Futura custom letter spacing issue
  font-size: 1.29rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: $font-futura-spacing;
  text-align: center;

  @include respond-to(phone) {
    margin: 0 (-$mobile-page-gutter) 36px (-$mobile-page-gutter + $font-futura-spacing);
  }
}

section {
  margin: 0 0 90px;

  &:first-child {
    margin-top: 90px;
  }

  &:last-child {
    margin-bottom: 70px;
    // text-align: center;

    // h2 {
    //   margin-bottom: 18px;
    // }
  }

  @include respond-to(phone) {
    margin-bottom: 70px;

    &:first-child {
      margin-top: 70px;
    }

    &:last-child {
      margin-bottom: 45px;
    }
  }
}

.centered-paragraph {
  margin: 0 auto;
  text-align: center;

  @include respond-to(tablet-small) {
    max-width: $mobile-content-max-width;
  }
}

.plain-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#page-container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $page-gutter;

  @include respond-to(phone) {
    padding-left: $mobile-page-gutter;
    padding-right: $mobile-page-gutter;
  }
}

#page-header {
  margin-top: 70px;
  text-align: center;
}

.project-wrapper {
  text-decoration: none;
}

#role {
  display: block;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

#role-logo {
  @include text-overflow;
  width: 241px;
  height: 54px;
  margin: 0 auto 40px;
  background: image-url('role_logo.png') no-repeat center -54px;
  background-size: 241px 108px;

  #role:hover &,
  #role:focus & {
    background-position: center 0;
  }
}

#bios {
  @include alt-clearfix;
}

.bio-container {
  @include alt-clearfix;
  width: 50%;
  display: block;
  float: left;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:first-child {
    padding-right: $bio-container-padding;
    text-align: right;
  }

  &:last-child {
    padding-left: $bio-container-padding;
  }

  @include respond-to(tablet-small) {
    max-width: $mobile-content-max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;

    &:first-child,
    &:last-child {
      text-align: center;
    }

    &:first-child {
      margin-bottom: 30px;
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

.bio-image {
  @include border-radius($bio-image-size);
  width: $bio-image-size;
  height: $bio-image-size;
  background-repeat: no-repeat;
  background-position: 0 $bio-image-size-inverted;
  background-size: $bio-image-size $bio-sprite-height;

  .bio-container:first-child & {
    margin-left: $bio-image-margin;
    float: right;
    background-image: image-url('ian_hirschfeld.jpg');
  }

  .bio-container:last-child & {
    margin-right: $bio-image-margin;
    float: left;
    background-image: image-url('logan_dwight.jpg');
  }

  .bio-container:hover &,
  .bio-container:focus & {
    background-position: 0 0;
  }

  @include respond-to(tablet-small) {
    margin-bottom: 10px;

    .bio-container:first-child &,
    .bio-container:last-child & {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
}

.bio-content {
  overflow: hidden;
}

.post-header {
  @include alt-clearfix;
  margin-bottom: 14px;
}

.post-title {
  display: inline-block;

  h3 {
    font-size: 2.14rem;
  }
}

.post-date {
  padding-top: 14px;
  float: right;
  font-weight: bold;
}

.post-body {
  p {
    margin-bottom: 20px;
  }

  a {
    color: $font-color-light;
  }

  img {
    max-width: 100%;
  }
}

.post-footer {
  @include alt-clearfix;
}

.post-tags {
  float: left;

  li {
    display: inline-block;
    margin-right: 8px;
  }

  a {
    @include border-radius(1rem);
    padding: 0 8px;
    display: block;
    border: 1px solid $font-color;

    &:hover,
    &:focus {
      border-color: $font-color-light;
      text-decoration: none;
    }
  }
}

.post-social {
  float: right;

  li {
    display: inline-block;
    margin-right: 8px;
  }

  a {
    @include text-overflow;
    width: 22px;
    height: 22px;
    display: block;
    background-image: image-url('icons_tumblr.png');
    background-repeat: no-repeat;
    background-size: 66px 44px;

    &.post-social-share {
      background-position: 0 0;
    }

    &.post-social-reblog {
      background-position: -22px 0;
    }

    &.post-social-like {
      background-position: -44px 0;
    }

    &:hover,
    &:focus {
      &.post-social-share {
        background-position: 0 -22px;
      }

      &.post-social-reblog {
        background-position: -22px -22px;
      }

      &.post-social-like {
        background-position: -44px -22px;
      }
    }
  }
}

.blog-section {
  text-align: center;
}

#blog-button {
  @include border-radius(10px);
  padding: 16px 40px;
  display: inline-block;
  border: 1px solid $font-color;
  font-size: 1.29rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: $font-futura-spacing;
  text-align: center;
  text-decoration: none;
  text-indent:  $font-futura-spacing; // Left margin needed to offset weird Futura custom letter spacing issue

  &:hover,
  &:focus {
    border-color: $font-color-light;
  }
}

.social-list {
  margin-bottom: 45px;
  text-align: center;

  li {
    display: inline-block;

    &:first-child {
      margin-right: 15px;
    }
  }
}

.social-icon {
  @include opacity(1);
  @include transition(opacity 0.25s);
  display: inline-block;
  color: $font-color;
  font-size: 35px;
  text-decoration: none;

  &:hover,
  &:focus {
    @include opacity(0.65);
    text-decoration: none !important;
  }
}
