@charset "utf-8";

@import "compass";
@import "variables";
@import "mixins";

* {
  @include box-sizing(border-box);
}

html {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.29;
}

body {
  background: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  @include text-overflow;
  width: $logo-fixed-height * ($logo-width / $logo-height);
  height: $logo-fixed-height;
  margin: 0 auto;
  display: block;
  background: image-url('soap_logo.svg') no-repeat center center;

  @include respond-to(phone) {
    width: $logo-fixed-width;
    height: $logo-fixed-width * ($logo-height / $logo-width);
  }
}

h2 {
  margin-left: 14px; // Needed to offset weird Future custom letter spacing issue
  font-size: 1.29rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 14px;
  text-align: center;

  @include respond-to(phone) {
    margin-left: -$mobile-page-gutter + 14px; // Needed to offset weird Future custom letter spacing issue
    margin-right: -$mobile-page-gutter;
  }
}

#page-container {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $page-gutter;

  @include respond-to(phone) {
    padding-left: $mobile-page-gutter;
    padding-right: $mobile-page-gutter;
  }
}

#page-header {
  margin-top: 70px;
  text-align: center;
}

#company-intro {
  margin: 90px auto;
  text-align: center;

  @include respond-to(tablet-small) {
    max-width: $mobile-content-max-width;
  }

  @include respond-to(phone) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

#bios {
  @include alt-clearfix;
  margin: 48px 0;

  @include respond-to(phone) {
    margin-top: 36px;
    margin-bottom: 36px;
  }
}

.bio-container {
  @include alt-clearfix;
  width: 50%;
  display: block;
  float: left;
  color: $font-color;
  text-decoration: none;

  &:first-child {
    padding-right: $bio-container-padding;
    text-align: right;
  }

  &:last-child {
    padding-left: $bio-container-padding;
  }

  @include respond-to(tablet-small) {
    max-width: $mobile-content-max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;

    &:first-child,
    &:last-child {
      text-align: center;
    }

    &:first-child {
      margin-bottom: 30px;
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }
  }
}

.bio-image {
  @include border-radius($bio-image-size);
  width: $bio-image-size;
  height: $bio-image-size;
  background-repeat: no-repeat;
  background-position: 0 $bio-image-size-inverted;
  background-size: $bio-image-size $bio-sprite-height;

  .bio-container:first-child & {
    margin-left: $bio-image-margin;
    float: right;
    background-image: image-url('ian_hirschfeld.jpg');
  }

  .bio-container:last-child & {
    margin-right: $bio-image-margin;
    float: left;
    background-image: image-url('logan_dwight.jpg');
  }

  @include respond-to(tablet-small) {
    margin-bottom: 10px;

    .bio-container:first-child &,
    .bio-container:last-child & {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
}

.bio-content {
  overflow: hidden;
}
