---
layout: home
---

<article class="slides-container full-w full-h">
  {% assign total = site.data.slides.size | minus: 1 %}
  {% for i in (0..total) %}
    {% assign slide = site.data.slides[i] %}

    <div class="slide-container">
      <div class="slide-background-container full-w full-h {% if i == 0 %}is-opaque{% endif %} {% if i == 0 %}is-active{% else %}is-next{% endif %}" data-slide="{{ i }}">
        <div class="slide-background full-w full-h" style="background-image:url('/images/slides/{{ slide.background }}');"></div>
        <div class="slide-gradient full-w" data-theme="{{ slide.theme }}"></div>
      </div>

      <section class="slide project-container full-w full-h {% if i == 0 %}is-active{% else %}is-next{% endif %}" data-slide="{{ i }}" data-theme="{{ slide.theme }}">
        <div class="slide-content-container">
          <div class="slide-content is-fadeable {% if i == 0 %}is-opaque{% endif %}">
            {% if i == 0 %}
              <h2 class="project-title font-futura-700 font-futura-normal">{{ slide.title }}</h2>
            {% else %}
              <h2 class="project-logo project-logo-{{ slide.class }}"><a href="/work/{{ slide.url }}">{{ slide.title }}</a></h2>
            {% endif %}
            <p class="project-copy section-heading font-lato-300">{{ slide.description }}</p>

            {% if i == 0 %}
              <!-- {% include learn_more_btn.html title="Watch reel" url=site.reel_url theme=slide.theme is_reel_btn=true %} -->
            {% else %}
              {% assign url = slide.url | prepend: "/work/" %}
              {% include learn_more_btn.html title="Learn more" url=url theme=slide.theme %}
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  {% endfor %}
</article>
