@mixin alt-clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

@mixin text-overflow {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin respond-to($size) {
  @if $size == 'desktop' {
    @media only screen and (max-width: 1099px) {
      @content
    }
  }
  @else if $size == 'tablet' {
    @media only screen and (max-width: 1023px) {
      @content
    }
  }
  @else if $size == 'tablet-small' {
    @media only screen and (max-width: 767px) {
      @content
    }
  }
  @else if $size == 'phone' {
    @media only screen and (max-width: 639px) {
      @content
    }
  }
  @else if $size == 'phone-small' {
    @media only screen and (max-width: 459px) {
      @content
    }
  }
}

@mixin retina($density: '2x') {
  @if $density == '2x' {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi) {
        @content
    }
  }
  @else if $density == '3x' {
    @media
      only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min-resolution: 192dpi) {
        @content
    }
  }
}
