// Main
$max-page-width: 1000px;

$logo-width: 792px;
$logo-height: 321px;
$logo-fixed-width: 358px;
$logo-fixed-width-phone: 270px;

$shift-speed: .5s;
$color-speed: .3s;
$fade-speed: .3s;
$fade-opacity: .3;

// Fonts
$lato-font-family: 'lato', Helvetica, sans-serif;
$futura-font-family: 'futura-pt', Helvetica, sans-serif;
$font-family: $lato-font-family;
$font-size: 24px;
$font-futura-spacing: 13px;

// Colors
$text-color: #000;
$image-text-color: #fff;
