@mixin alt-clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

@mixin text-overflow {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin respond-to($size) {
  @if $size == 'desktop' {
    @media only screen and (max-width: 1200px) {
      @content
    }
  }
  @else if $size == 'tablet' {
    @media only screen and (max-width: 1024px) {
      @content
    }
  }
  @else if $size == 'tablet-small' {
    @media only screen and (max-width: 768px) {
      @content
    }
  }
  @else if $size == 'phone' {
    @media only screen and (max-width: 568px) {
      @content
    }
  }
  @else if $size == 'phone-small' {
    @media only screen and (max-width: 320px) {
      @content
    }
  }
}
