<header class="page-header is-max-width">
  <h1 class="page-logo">
    <a class="page-logo-black is-fadeable" href="/">The Soap Collective</a>
    <a class="page-logo-white is-fadeable" href="/">The Soap Collective</a>
  </h1>
  <nav class="page-nav float-r">
    <ul class="nav-list list-reset font-futura-700 text-upper">
      <li class="nav-list-item"><a class="nav-link" href="/work">Work</a></li><!--
      --><li class="nav-list-item"><a class="nav-link" href="/about">About</a></li><!--
      --><li class="nav-list-item"><a class="nav-link" href="https://blog.thesoapcollective.com/">Blog</a></li><!--
      --><li class="nav-list-item contact-btn"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
