<header class="page-header is-max-width mobile-menu-closed">
  <h1 class="page-logo">
    <a class="page-logo-black is-fadeable" href="/">The Soap Collective</a>
    <a class="page-logo-white is-fadeable" href="/">The Soap Collective</a>
  </h1>
  <a class="arrow-container mobile-menu-arrow" href="#" data-theme="dark">
    <div class="arrow-outlined"></div>
  </a>
  <nav class="page-nav float-r">
    <ul class="nav-list list-reset font-futura-700 text-upper">
      <li class="nav-list-item"><a class="nav-link" href="/work">Work</a></li><!--
      --><li class="nav-list-item"><a class="nav-link" href="/about">About</a></li><!--
      --><li class="nav-list-item"><a class="nav-link" href="{{ site.blog_url }}" target="_blank">Blog</a></li><!--
      --><li class="nav-list-item contact-btn"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
