$max-page-width: 600px;
$grid-size: 18px;
$grid-size-half: $grid-size / 2;
$grid-size-double: $grid-size * 2;

$lato-font-family: 'lato', Helvetica, sans-serif;
$futura-font-family: 'futura-pt', Helvetica, sans-serif;
$font-futura-spacing: 5px;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: $lato-font-family;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000;
  background-size: cover;
  color: #fff;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

p {
  font-size: 0.77rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

h2 {
  font-size: 0.88rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.font-futura-400 {
  font-family: $futura-font-family;
  font-weight: 400;
  letter-spacing: 1px;
  text-indent: 1px;
}

.font-futura-700 {
  font-family: $futura-font-family;
  font-weight: 700;
  letter-spacing: $font-futura-spacing;
  text-indent: $font-futura-spacing;
}

.lb-background {
  width: 100vw;
  height: 100vh;
  background: url('../images/slides/land_beyond_slide.jpg') center bottom no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
}

.lb-content {
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding-top: $grid-size-double;
  position: relative;
  z-index: 2;
}

$title-width: 600px;
$title-height: 72px;
.lb-title {
  @include text-overflow;
  width: $title-width;
  height: $title-height;
  margin: 0 auto;
  background: url('../images/land_beyond_title.png') center bottom no-repeat;
  background-size: $title-width $title-height;
}

.lb-subtitle {
  margin-top: $grid-size-double;
  margin-bottom: $grid-size-half;
}

.video-container {
  height: 0;
  position: relative;
  margin: $grid-size auto 0;
  padding-bottom: 56.25%; // Should match youtube embed aspect ratio (360 / 640).
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.lb-btn {
  width: 100%;
  margin: $grid-size 0;

  a {
    width: 100%;
    padding: 8px 4px;
    display: inline-block;
    background-color: rgba(0,0,0,0.35);
    border: 2px solid #fff;
    transition: background-color 0.2s, color 0.2s;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #000;
    }
  }
}

.lb-contact {
  margin-bottom: $grid-size-double;

  .font-futura-700 {
    letter-spacing: 1px;
  }
}

.lb-footer {
  padding-bottom: $grid-size-half;
  font-size: 0.55rem;
  opacity: 0.5;
  position: relative;
  z-index: 2;
}

#loginbox {
  margin: 100px auto;
}

#password {
  width: 100%;
  max-width: 300px;
  margin: 0 auto $grid-size;
  border: 2px solid #fff;
  padding: 8px 4px;
  display: block;
  color: #000;
}

#loginbutton {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 8px 4px;
  display: block;
  background: rgba(0,0,0,0.35);
  border: 2px solid #fff;
  transition: background-color 0.2s, color 0.2s;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
    background: #000;
  }
}

@media only screen and (max-width:  $max-page-width) {
  .lb-content,
  .lb-footer {
    padding-left: $grid-size-half;
    padding-right: $grid-size-half;
  }

  $title-width: 300px;
  $title-height: 32px;
  .lb-title {
    @include text-overflow;
    width: $title-width;
    height: $title-height;
    background-size: $title-width $title-height;
  }
}
