$max-page-width: 1140px;
$grid-size: 18px;
$grid-size-half: $grid-size / 2;
$grid-size-double: $grid-size * 2;

$lato-font-family: 'lato', Helvetica, sans-serif;
$futura-font-family: 'futura-pt', Helvetica, sans-serif;
$font-futura-spacing: 13px;

$slide-background-speed: 1s;
$slide-content-speed: 1s;
$slide-color-speed: 0.5s;
$slide-fade-speed: 0.5s;
$slide-fade-fast-speed: 0.25s;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: $lato-font-family;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fff;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  transition: color $slide-color-speed;

  &.hover-underline {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .theme-light & {
    color: #fff;
  }

  .theme-dark & {
    color: #000;
  }
}

// ==================================================
// FONTS
// ==================================================
.font-lato-300 {
  font-family: $lato-font-family;
  font-weight: 300;
}

.font-lato-400 {
  font-family: $lato-font-family;
  font-weight: 400;
}

.font-lato-500 {
  font-family: $lato-font-family;
  font-weight: 500;
}

.font-futura-400 {
  font-family: $futura-font-family;
  font-weight: 400;
  letter-spacing: $font-futura-spacing;
  text-indent: $font-futura-spacing;
}

.font-futura-700 {
  font-family: $futura-font-family;
  font-weight: 700;
  letter-spacing: $font-futura-spacing;
  text-indent: $font-futura-spacing;
}

.font-futura-normal {
  letter-spacing: normal;
  text-indent: 0;
}

.text-upper {
  text-transform: uppercase;
}

// ==================================================
// HELPERS
// ==================================================
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.float-r {
  float: right;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.theme-light {
  color: #fff;
}

.theme-dark {
  color: #000;
}

.is-opaque {
  opacity: 1 !important;
}

.is-fadeable {
  transition: opacity $slide-fade-speed;
}

.is-fadeable-fast {
  transition: opacity $slide-fade-fast-speed;
}

// ==================================================
// PAGE ELEMENTS
// ==================================================
.page-container {}

.page-logo {
  width: 90px;
  height: 36px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.page-logo-black,
.page-logo-white {
  @include text-overflow;
  width: 90px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/soap_logo.png');
  background-repeat: no-repeat;
  background-size: 90px 72px;
}

.page-logo-black {
  background-position: 0 -36px;

  .theme-light & {
    opacity: 0;
  }

  .theme-dark & {
    opacity: 1;
  }
}

.page-logo-white {
  background-position: 0 0;

  .theme-light & {
    opacity: 1;
  }

  .theme-dark & {
    opacity: 0;
  }
}

.page-header {
  max-width: $max-page-width;
  height: 72px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.page-nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.nav-list {
  text-align: right;
  font-size: 1rem;
}

.nav-list-item {
  margin-right: $grid-size;
  display: inline-block;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}

.nav-link {
  transition: color $slide-color-speed, opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.contact-btn {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  transition: border-color $slide-color-speed, opacity 0.2s;

  .theme-light & {
    border-color: #fff;
  }

  .theme-dark & {
    border-color: #000;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.page-footer {
  width: 100%;
  max-width: $max-page-width;
  position: absolute;
  bottom: $grid-size-half;
  left: 50%;
  z-index: 2;
  font-size: 0.67rem;
  text-align: center;
  transform: translateX(-50%);
  transition: color $slide-color-speed;
}

.learn-more-btn {
  width: 171px;
  margin: 25px auto 0;
  padding-right: 41px;
  display: block;
  position: relative;
  text-align: right;
  text-indent: 0;
  line-height: 1.2;
  pointer-events: auto;
  transition: opacity 0.2s, color $slide-color-speed;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  .theme-light & {
    color: #fff;
  }

  .theme-dark & {
    color: #000;
  }
}

.arrow-container {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  right: 0;
}

.arrow-outlined,
.arrow-filled {
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/arrows.png');
  background-repeat: no-repeat;
  background-size: 82px 82px;
  transition: opacity 0.2s;
}

.arrow-outlined {
  background-position: 0 0;
  opacity: 1;

  .arrow-container[data-theme="light"] & {
    background-position: 0 0;
  }

  .arrow-container[data-theme="dark"] & {
    background-position: -41px 0;
  }

  .learn-more-btn:hover &,
  .learn-more-btn:focus & {
    opacity: 0;
  }
}

.arrow-filled {
  opacity: 0;

  .arrow-container[data-theme="light"] & {
    background-position: 0 -41px;
  }

  .arrow-container[data-theme="dark"] & {
    background-position: -41px -41px;
  }

  .learn-more-btn:hover &,
  .learn-more-btn:focus & {
    opacity: 1;
  }
}

.services-container {
  width: 100%;
  max-width: $max-page-width;
  position: absolute;
  bottom: $grid-size-double + $grid-size-half;
  left: 50%;
  z-index: 2;
  text-align: center;
  transform: translateX(-50%);
  transition: color $slide-color-speed;
}

.services-list {
  margin-top: 30px;
}

.services-list-item {
  width: 20%;
  padding-top: 36px + $grid-size;
  display: inline-block;
  position: relative;
}

.services-icon-small {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  background-image: url('../images/icons_small.png');
  background-repeat: no-repeat;
  background-size: 180px 72px;
  transform: translateX(-50%);
  opacity: 0;
}

.services-icon-small-vr-white {
  background-position: 0 0;

  .theme-light & {
    opacity: 1;
  }
}

.services-icon-small-vr-black {
  background-position: 0 -36px;

  .theme-dark & {
    opacity: 1;
  }
}

.services-icon-small-ux-white {
  background-position: -36px 0;

  .theme-light & {
    opacity: 1;
  }
}

.services-icon-small-ux-black {
  background-position: -36px -36px;

  .theme-dark & {
    opacity: 1;
  }
}

.services-icon-small-branding-white {
  background-position: -72px 0;

  .theme-light & {
    opacity: 1;
  }
}

.services-icon-small-branding-black {
  background-position: -72px -36px;

  .theme-dark & {
    opacity: 1;
  }
}

.services-icon-small-dev-white {
  background-position: -108px 0;

  .theme-light & {
    opacity: 1;
  }
}

.services-icon-small-dev-black {
  background-position: -108px -36px;

  .theme-dark & {
    opacity: 1;
  }
}

.services-icon-small-strategy-white {
  background-position: -144px 0;

  .theme-light & {
    opacity: 1;
  }
}

.services-icon-small-strategy-black {
  background-position: -144px -36px;

  .theme-dark & {
    opacity: 1;
  }
}

// ==================================================
// SLIDES
// ==================================================
.slides-background-container,
.slide-background-container,
.slide-background,
.slide-container,
.slide {
  position: absolute;
  top: 0;
  left: 0;
}

.slides-background-container {
  z-index: 0;
}

.slide-gradient {
  height: 50vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;

  &[data-theme="light"] {
    background-image: linear-gradient(to bottom, rgba(#000,0), rgba(#000,1));
    opacity: 0.2;
  }

  &[data-theme="dark"] {
    background-image: linear-gradient(to bottom, rgba(#fff,0), rgba(#fff,1));
    opacity: 0.8;
  }
}

.slide-background-container,
.slide-content,
.slide-nav-list {
  opacity: 0;
}

.slide-background-container {
  transition: left $slide-background-speed;
}

.slide-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slide-container {
  z-index: 1;
}

.slide {
  display: flex;
  align-items: center;
  transition: left $slide-content-speed;
  pointer-events: none;
}

.slide-content-container {
  width: 100%;
  position: relative;
  top: -80px;
}

.slide-content {
  margin: 0 auto;
  text-align: center;

  .slide[data-slide='0'] & {
    max-width: 620px;
  }
}

body[data-active-slide='0'] {
  .slide-background-container[data-slide='0'],
  .slide[data-slide='0'] {
    left: 0;
  }

  .slide-background-container[data-slide='1'],
  .slide-background-container[data-slide='2'] {
    left: 100vw;
  }

  .slide[data-slide='1'],
  .slide[data-slide='2'] {
    left: 50vw;
  }
}

body[data-active-slide='1'] {
  .slide-background-container[data-slide='1'],
  .slide[data-slide='1'] {
    left: 0;
  }

  .slide-background-container[data-slide='0'] {
    left: -100vw;
  }

  .slide[data-slide='0'] {
    left: -50vw;
  }

  .slide-background-container[data-slide='2'] {
    left: 100vw;
  }

  .slide[data-slide='2'] {
    left: 50vw;
  }
}

body[data-active-slide='2'] {
  .slide-background-container[data-slide='2'],
  .slide[data-slide='2'] {
    left: 0;
  }

  .slide-background-container[data-slide='0'],
  .slide-background-container[data-slide='1'] {
    left: -100vw;
  }

  .slide[data-slide='0'],
  .slide[data-slide='1'] {
    left: -50vw;
  }
}

.slide-title,
.slide-logo {
  margin-bottom: 30px;
}

.slide-logo {
  display: inline-block;

  a {
    @include text-overflow;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.slide-logo-nbu {
  width: 338px;
  height: 54px;

  a {
    width: 338px;
    height: 54px;
    background-image: url('../images/logos/nbu_logo.png');
    background-size: 338px 54px;
  }
}

.slide-logo-profile {
  width: 330px;
  height: 100px;

  a {
    width: 330px;
    height: 100px;
    background-image: url('../images/logos/profile_logo.png');
    background-size: 330px 100px;
  }
}

.slide-title {
  font-size: 2rem;
  transition: color $slide-color-speed;
}

.slide-copy {
  transition: color $slide-color-speed;
}

.slide-nav-list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -$grid-size - $grid-size-double + $grid-size-half;
  font-size: 0;
  text-align: center;
  pointer-events: auto;
}

.slide-nav-list,
.slide-nav-list-item,
.slide-nav-link {
  height: $grid-size;
}

.slide-nav-list-item,
.slide-nav-link,
.slide-nav-bar {
  width: $grid-size-double * 2;
}

.slide-nav-list-item {
  margin-right: $grid-size;
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.slide-nav-link {
  display: flex;
  align-items: center;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.slide-nav-bar {
  height: 2px;
  display: block;

  .theme-light & {
    background: #fff;
  }

  .theme-dark & {
    background: #000;
  }
}
