$responsive-max-page-width: $max-page-width - 1;
$responsive-max-logo-width: 220px;

@media only screen and (max-width:  $responsive-max-page-width) {
  .is-max-width {
    padding-left: $grid-size-double;
    padding-right: $grid-size-double;
  }

  .page-nav {
    right: $grid-size-double;
  }

  .page-logo {
    left: $grid-size-double;
  }
}

@media only screen and (max-width: 1049px) {
  .what-is-soap-heading {
    margin-bottom: 12px;
  }

  .pillars-list {
    margin-bottom: 0;
  }

  .pillars-list-item {
    width: 50%;
    padding-top: $grid-size;
    padding-bottom: $grid-size;
  }
}

@media only screen and (max-width: 1023px) {
  .nav-list {
    font-size: 0.8rem;
  }

  .nav-list-item {
    margin-right: $grid-size-half;
  }

  .slide-content-container {
    top: -95px;
  }

  .services-container {
    bottom: 60px;
  }

  .project-grid-three {
    width: 50%;
  }

  .project-grid-three-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:nth-child(2),
    &:nth-child(2n+2) {
      padding-left: $grid-size-half !important;
    }

    &:nth-child(2n+1) {
      padding-right: $grid-size-half !important;
    }
  }
}

@media only screen and (max-width: 767px),
       only screen and (max-height: 599px) {
  body.is-home {
    color: #000;

    .nav-link,
    .contact-btn a,
    .services-list,
    .page-footer,
    .page-footer a {
      color: #000;
    }

    .contact-btn {
      a {
        border-color: #000;
      }
    }

    .services-container {
      padding: $grid-size;

      h3 {
        position: relative;
        right: -$font-futura-spacing;
        text-indent: 0;
      }
    }
  }

  .page-nav,
  .page-logo,
  .page-logo-black,
  body.is-home .page-footer,
  .slides-container,
  .slide-content-container,
  .services-container {
    position: static;
  }

  .slide-background-container {
    opacity: 1;
  }

  .slide-container,
  .slide {
    position: relative;
  }

  .is-next,
  .is-previous {
    left: 0 !important;
  }

  .page-nav,
  .page-logo,
  .services-container,
  body.is-home .page-footer {
    transform: none;
  }

  .nav-list {
    text-align: center;
    font-size: 1rem;
  }

  .nav-list-item {
    margin-right: 0;
    margin-bottom: $grid-size-double;
    display: block;

    &:last-child {
      margin-right: $font-futura-spacing;
    }
  }

  .mobile-menu-arrow {
    display: block;
  }

  .page-header {
    padding: $grid-size;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s;

    &.mobile-menu-closed {
      height: 41px + $grid-size-double;
    }

    &.mobile-menu-opened {
      height: 344px; // Needs to be explicit for transition to work.
    }

    .float-r {
      float: none;
    }
  }

  .page-footer {
    height: auto;
    padding-top: $grid-size;
    padding-bottom: $grid-size;
  }

  .page-logo {
    margin-top: 2px;
    margin-bottom: $grid-size-double;
  }

  .slide-gradient,
  .slide-nav-list {
    display: none;
  }

  .slides-container,
  .slide {
    height: auto;
  }

  .slide {
    display: block;
  }

  .page-logo-black,
  .slide-content,
  .services-icon-small-vr-black,
  .services-icon-small-ux-black,
  .services-icon-small-branding-black,
  .services-icon-small-dev-black,
  .services-icon-small-strategy-black {
    opacity: 1 !important;
  }

  .page-logo-white,
  .services-icon-small-vr-white,
  .services-icon-small-ux-white,
  .services-icon-small-branding-white,
  .services-icon-small-dev-white,
  .services-icon-small-strategy-white {
    opacity: 0 !important;
    display: none;
  }

  .project-container {
    padding: 50px $grid-size;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }

  .is-max-width {
    padding-left: $grid-size;
    padding-right: $grid-size;
  }

  .section-heading {
    font-size: 1.2rem;
  }

  .get-in-touch-heading,
  .services-heading {
    position: relative;
    right: -7px;
    text-indent: 0;
  }

  .project-title {
    margin-bottom: $grid-size;
    font-size: 1.5rem;
  }

  .project-copy {
    font-size: 1.1rem;
  }

  .project-hero {
    margin-top: $grid-size-double;

    &.is-max-width {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .project-content-list {
    margin-top: $grid-size-double;
    margin-bottom: $grid-size-double;

    .float-l {
      float: none;
    }
  }

  .project-grid-two,
  .project-grid-three {
    width: 100%;
    margin-bottom: $grid-size;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .project-description {
    margin-bottom: $grid-size-double;

    &.is-block {
      margin-bottom: 0;
    }

    &.text-center {
      text-align: left;
    }
  }

  .project-description-spacer {
    height: $grid-size-double;
    display: block !important;
  }

  .project-logo-brooklynbrewery {
    $brooklynbrewery-height-r: $responsive-max-logo-width * $brooklynbrewery-height / $brooklynbrewery-width;
    width: $responsive-max-logo-width;
    height: $brooklynbrewery-height-r;
    background-image: url('../images/logos/brooklyn_brewery_logo.png');
    background-size: $responsive-max-logo-width $brooklynbrewery-height-r;

    a {
      width: $responsive-max-logo-width;
      height: $brooklynbrewery-height-r;
    }
  }

  .project-logo-ced {
    width: $responsive-max-logo-width;
    height: $responsive-max-logo-width;
    background-size: $responsive-max-logo-width $responsive-max-logo-width;

    a {
      width: $responsive-max-logo-width;
      height: $responsive-max-logo-width;
    }
  }

  .project-logo-phoodie {
    $phoodie-height-r: $responsive-max-logo-width * $phoodie-height / $phoodie-width;
    width: $responsive-max-logo-width;
    height: $phoodie-height-r;
    background-size: $responsive-max-logo-width $phoodie-height-r;

    a {
      width: $responsive-max-logo-width;
      height: $phoodie-height-r;
    }
  }

  .project-logo-profile {
    $profile-height-r: $responsive-max-logo-width * $profile-height / $profile-width;
    width: $responsive-max-logo-width;
    height: $profile-height-r;
    background-size: $responsive-max-logo-width $profile-height-r;

    a {
      width: $responsive-max-logo-width;
      height: $profile-height-r;
    }
  }

  .project-logo-nbu {
    $nbu-height-r: $responsive-max-logo-width * $nbu-height / $nbu-width;
    width: $responsive-max-logo-width;
    height: $nbu-height-r;
    background-size: $responsive-max-logo-width $nbu-height-r;

    a {
      width: $responsive-max-logo-width;
      height: $nbu-height-r;
    }
  }

  .project-logo-role {
    $role-height-r: $responsive-max-logo-width * $role-height / $role-width;
    width: $responsive-max-logo-width;
    height: $role-height-r;
    background-size: $responsive-max-logo-width $role-height-r;

    a {
      width: $responsive-max-logo-width;
      height: $role-height-r;
    }
  }

  .project-logo-weirdcatalog {
    $weirdcatalog-height-r: $responsive-max-logo-width * $weirdcatalog-height / $weirdcatalog-width;
    width: $responsive-max-logo-width;
    height: $weirdcatalog-height-r;
    background-image: url('../images/logos/wc_logo.png');
    background-size: $responsive-max-logo-width $weirdcatalog-height-r;

    a {
      width: $responsive-max-logo-width;
      height: $weirdcatalog-height-r;
    }
  }

  .services-list {
    .services-section & {
      margin-top: $grid-size-double;
    }
  }

  .services-list-item {
    width: 50%;
    margin-bottom: $grid-size;
    padding-top: 36px + $grid-size-half;
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      margin-bottom: 0;
    }

    .services-section & {
      width: 100%;
      margin-bottom: $grid-size-double;
      padding-top: 72px + $grid-size;
    }
  }

  .soap-team {
    margin-top: $grid-size;

    img {
      width: 170%;
      position: relative;
      left: -35%;
    }
  }

  .services-section,
  .soap-team-description,
  .office-map {
    margin-top: $grid-size-double;
  }

  .soap-team-description {
    text-align: left;
  }

  .office-map {
    &.is-max-width {
      padding-left: 0;
      padding-right: 0;
    }

    .float-l,
    .float-r {
      float: none;
      text-align: center;
    }

    .float-r {
      margin-top: 5px;
    }
  }

  .what-is-soap-heading {
    margin-bottom: 30px;
  }

  .pillars-list {
    margin-bottom: $grid-size;
  }

  .pillars-list-item {
    width: 100%;
    margin-bottom: $grid-size-double;
    padding: 0;
    display: block;
  }

  .font-no-indent {
    text-indent: $font-futura-spacing;
  }

  .email-btn {
    max-width: 260px;
  }

  .download-btn {
    width: 200px;
    height: 200px * 72px / 242px;
    margin-top: $grid-size;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &:last-child {
      margin-right: auto;
    }
  }
}
