---
title: Atlas
description: An original science fiction episodic VR saga set in a world beyond imagination. The Soap Collective is a virtual reality creative agency and content studio building premium interactive experiences.
---

{% for p in site.data.projects %}
  {% if p.url == "atlas" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description project-grid-two float-r">
      <h3 class="font-futura-700 font-futura-normal">Enter the World Beyond</h3>
      <p class="font-lato-300">Standing in the desert, dust swirls at your feet. Black storms rage over megalithic structures in the distance. A voice echoes in your ear, beckoning to you: “Find me...” You do not know her, but her call feels like a memory. Your grip tightens on the controls of your vehicle as the engine roars to life. The wind whips at the tatters of your jacket. Like a bolt in the storm, you jet off into the wasteland beyond. </p>
      <p class="font-lato-300">Atlas is an original science fiction event series from The Soap Collective. Awaken to a place lost to time, with secrets waiting to be uncovered around every corner. </p>
      <p class="font-lato-300">Welcome to the world beyond. Welcome to Atlas.</p>
      <p class="font-futura-700 font-futura-normal">Coming in 2017</p>
    </li>
    {% include project_images.html project=project has_spacer=false image_class="project-grid-two project-grid-two-padding float-r" %}
  </ul>
</article>
