---
title: Beyond Tokyo
description: Virtually travel and adventure in a fantastical vision of Tokyo. The Soap Collective is a virtual reality creative agency and content studio building premium interactive experiences.
---

{% for p in site.data.projects %}
  {% if p.url == "beyond_tokyo" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description text-center is-block">
      <p class="font-lato-300">We’re currently collaborating with World Innovation Lab and ANA to craft an educational adventure series focused on Japan. The experience is designed to merge the best elements of travel with the excitement of immersive fantasy. Set in an imagined alternate Tokyo, the project uses room-scale VR to take users on an adventure of wonder and mystery, while also teaching them about Japanese culture and tradition.</p>
      <p class="font-lato-300">We’re excited to share more about this project soon!</p>
    </li>
  </ul>
</article>
