---
title: Capital One
description: Customer Story in VR. The Soap Collective is a virtual reality creative agency and content studio building premium interactive experiences.
---

{% for p in site.data.projects %}
  {% if p.url == "capital_one" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description is-block">
      <p class="font-lato-300">Capital One believes in helping good people out of bad situations. We worked with their team to craft a 360 VR film about this ethos. The goal of the project was to create an experience that could be shown internally and spark new conversations. Focusing on one family and their relationship with the company, we strove to tell a personal story that reminds us why every person’s struggle matters.</p>
    </li>
  </ul>
</article>
