---
title: Google
description: A series of immersive 360 shorts, each film will focus on the unique cultural experiences of various major cities around the world. The Soap Collective is a virtual reality creative agency and content studio building premium interactive experiences.
---

{% for p in site.data.projects %}
  {% if p.url == "google" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description text-center is-block">
      <p class="font-lato-300">We’re currently in active production on a virtual travel series with Google. A series of immersive 360 shorts, each film will focus on the unique cultural experiences of various major cities around the world. We’ll be unveiling the first episodes in early 2017.</p>
    </li>
  </ul>
</article>
