---
title: Never Bout Us
description: An immersive VR 360 music experience for hip-hop artist Cameron Grey. The Soap Collective is a virtual reality creative agency and content studio building premium interactive experiences.
---

{% for p in site.data.projects %}
  {% if p.url == "never_bout_us" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description project-grid-two float-l">
      <h3 class="font-futura-700 font-futura-normal">Immersive 360 music experience for Cameron Grey</h3>
      <p class="font-lato-300">We worked with artist Cameron Grey to create a 360 music video experience for his song “Never Bout Us”.</p>
      <p class="font-lato-300">Together, we worked to create an immersive story that flows smoothly through the 360° space. The audience follows Cameron as he relives the memories of a brutal breakup.</p>
      <p class="font-lato-300">To support the video experience, we created an app for iOS and Android that allows people to easily view it using both their phone and a cardboard VR viewer.</p>
      <p class="font-lato-300">We also designed the website, social media, and press materials to accompany the song and video release. Included in this was a series of limited-run boxes that contained a custom-branded VR viewer, thank you note, production credits, and 1-of-a-kind instant photos from the video shoot. Cameron then hand-wrote the lyrics inside every box, ensuring that each one was unique.</p>
      {% include project_website.html project=project %}
    </li>
    {% include project_images.html project=project has_spacer=false image_class="project-grid-two project-grid-two-padding float-l" %}
  </ul>
</article>
