---
title: Profile
description: Go behind the scenes with Soap through an interactive lookbook featuring the team's favorite styles.
---

{% for p in site.data.projects %}
  {% if p.url == "profile" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description project-grid-three">
      <h3 class="font-futura-700 font-futura-normal">Go Behind the Scenes with the Soap Team</h3>
      <p class="font-lato-300">We wanted to capture a little piece of ourselves and share it with the world. One part lookbook, one part portfolio, one part interactive business card; Profile is our personal showpiece.</p>
      <p class="font-lato-300">Dive in and check out a selection of our favorite styles, breakdowns of our team’s skills, and selections of our best work.</p>
      <p class="font-lato-300">Dig through it once, then flip your phone upside-down to reveal our secret “B-Side” experience. Get a behind-the-schenes glimpse at our personalities, our favorite media, and trivia about our creative process.</p>
      <p class="font-lato-300">Come hang out with the Soap team, load up Profile today!</p>
      {% if project.website %}
        <p class="font-futura-700 font-futura-normal"><strong><a class="hover-underline" href="{{ project.website }}" target="_blank">{{ project.website }}</a></strong></p>
      {% endif %}
    </li>
    {% include project_images.html project=project has_spacer=false image_class="project-grid-three project-grid-three-padding" %}
  </ul>
</article>
