---
title: Sunkist
description: VR Cycling Concept. The Soap Collective is a virtual reality creative agency and content studio building premium interactive experiences.
---

{% for p in site.data.projects %}
  {% if p.url == "sunkist" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description text-center is-block">
      <p class="font-lato-300">We consulted with Sunkist on a next-generation VR concept that would take users on a ride through a beautiful fantasy world. Placing users on a stationary bike linked to real-time VR sensors, the experience was designed to evoke a feeling of freedom, physicality, and joy.</p>
    </li>
  </ul>
</article>
