---
title: Unity
description: In an effort to explore Unity’s newest tools for VR content, we crafted an interactive experience that merged stereoscopic 360 video with gaze-based navigation.
---

{% for p in site.data.projects %}
  {% if p.url == "unity" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description text-center is-block">
      <p class="font-lato-300">Unity is one of the foremost innovators in the VR industry, creating many of the tools that power VR experiences all over the world. Their internal teams are always working to push the boundaries of what is possible in immersive tech.</p>
      <p class="font-lato-300">Here at The Soap Collective, we had the opportunity to be a part of that process. In an effort to explore Unity’s newest tools for VR content, we crafted an interactive experience that merged stereoscopic 360 video with gaze-based navigation. Footage of the Unity offices was captured using a GoPro Odyssey camera rig. The resulting scenes were then imported into a Unity project where graphical overlays and navigation hotspots were added. The final product was a non-linear interactive experience for mobile VR headsets, 100% powered by the Unity engine.</p>
    </li>
  </ul>
</article>
