---
layout: page
---

{% for p in site.data.projects %}
  {% if p.url == 'vr_love_letters' %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  <section class="project-section project-container" style="background-image:url('../../images/slides/{{ project.background }}');background-position:{{ project.background_alignment }};" data-theme="{{ project.theme }}">
    <h2 class="project-logo project-logo-{{ project.class }}"><a href="/work/{{ project.url }}">{{ project.title }}</a></h2>
    <p class="project-copy font-lato-300">{{ project.description }}</p>

    <div class="download-container">
      {% if project.app_store_url %}
        <a class="download-btn download-btn-app-store" href="{{ project.app_store_url }}" target="_blank">Download {{ project.title }} on the App Store!</a>
      {% endif %}
      {% if project.google_play_url %}
        <a class="download-btn download-btn-google-play" href="{{ project.google_play_url }}" target="_blank">Download {{ project.title }} on Google Play!</a>
      {% endif %}
    </div>
  </section>

  {% if project.hero_image %}
    <div class="project-hero is-max-width">
      <img class="full-w" src="../../images/work/{{ project.hero_image }}" alt="{{ project.title }} hero image" />
    </div>
  {% endif %}

  <ul class="list-reset project-content-list">
    <li class="project-description text-center">
      <h3 class="font-futura-700 font-futura-normal">360 Tributes to the Places We Love</h3>
      <p class="font-lato-300">VR has the power to transport you, to take you to places you’ve never been. It can show you perspectives you’ve never seen. We want to harness that power to connect people, sharing the places they call home.</p>
      <p class="font-lato-300">VR Love Letters is a tribute to the places we love the most.</p>
      <p class="font-lato-300">See the world through someone else’s eyes. Travel somewhere you’ve never been, or see your home in a new way. With 360 video and VR, we can do more than just see a place: we can feel its warmth and share its love.</p>
      {% if project.website %}
        <p class="font-futura-700 font-futura-normal"><strong><a class="hover-underline" href="{{ project.website }}" target="_blank">{{ project.website }}</a></strong></p>
      {% endif %}
    </li>
  </ul>
</article>
