---
title: VR Love Letters
description: Experience a place through the eyes of people who love it most. 360 tributes to the places we love.
---

{% for p in site.data.projects %}
  {% if p.url == "vr_love_letters" %}
    {% assign project = p %}
  {% endif %}
{% endfor %}

<article>
  {% include project_banner.html project=project is_work_page=false %}
  {% include project_hero.html project=project %}
  <ul class="list-reset project-content-list is-max-width">
    <li class="project-description text-center is-block">
      <h3 class="font-futura-700 font-futura-normal">360 Tributes to the Places We Love</h3>
      <p class="font-lato-300">VR has the power to transport you, to take you to places you’ve never been. It can show you perspectives you’ve never seen. We want to harness that power to connect people, sharing the places they call home.</p>
      <p class="font-lato-300">VR Love Letters is a tribute to the places we love the most.</p>
      <p class="font-lato-300">See the world through someone else’s eyes. Travel somewhere you’ve never been, or see your home in a new way. With 360 video and VR, we can do more than just see a place: we can feel its warmth and share its love.</p>
      {% if project.website %}
        <p class="font-futura-700 font-futura-normal"><strong><a class="hover-underline" href="{{ project.website }}" target="_blank">{{ project.website }}</a></strong></p>
      {% endif %}
    </li>
  </ul>
</article>
