.project-section.project-atlas
  .project-inner
    %h2.project-logo.atlas-logo Atlas
    %h4.image-text.center
      Show the world where you’ve been.
      %br
      A toolkit for capturing your virtual reality journey.
  .video-overlay

.section.no-gutter
  %ul.list-reset.project-list.atlas-list
    %li.project-description
      %p Atlas is an immersive Virtual Reality experience that’s built to share. Explore fantastic worlds and capture what you see. Share your personal journey and show people where you’ve been.
      %p
        %strong
          %a.website{href: 'http://www.atlasimmersive.com', target: '_blank'} http://www.atlasimmersive.com
