#page-header
  %h1 The Soap Collective
  %h4.image-text.center
    We build meaningful experiences
    %br
    that connect people and fuel emotion
  %h3.image-text.center
    %a.goto-projects.center{href: '/work'}
      Our Projects
      .arrow-container
        .arrow-outlined
        .arrow-filled

.page-bar
  .section.center
    %h2#work Work

.project-section.project-role
  .project-inner
    %a.project-logo.role-logo{href: '/role'} Role - Imagine Together
    %h4.image-text.center
      Group storytelling and adventure at
      %br
      your fingertips, everywhere you go.
    %a.download-app-store{href: 'https://itunes.apple.com/us/app/role-a-role-playing-party-game/id933599454?mt=8', target: '_blank'} Download Role on the App Store!
    %a.learn-more{href: '/role'}
      Learn more
      .arrow-container
        .arrow-outlined.point-right
        .arrow-filled.point-right
  .video-overlay.mobile-hide.touch-hide
  %video.video-background.mobile-hide.touch-hide{src: image_path('role_background_video.mp4'), autoplay: true, loop: true, muted: true}

.project-section.project-weirdcatalog
  .project-inner
    %a.project-logo.weirdcatalog-logo{href: '/weirdcatalog'} Weird Catalog
    %h4.image-text.center
      Celebrate the colorful, creative, and strange.
      %br
      Get inspired. Get weird.
    %a.learn-more{href: '/weirdcatalog'}
      Learn more
      .arrow-container
        .arrow-outlined.point-right
        .arrow-filled.point-right
  .video-overlay

.project-section.project-ced
  .project-inner
    %a.project-logo.ced-logo{href: '/ced'} CED
    %h4.image-text.center Evolving the infographic through meaningful interaction.
    %a.learn-more{href: '/ced'}
      Learn more
      .arrow-container
        .arrow-outlined.point-right
        .arrow-filled.point-right
  .video-overlay

.clients-section
  .section.center
    %h2.lato What is a Soap Project?
    %ul.list-reset.pillars-list<>
      %li<>
        %h3 Emotional
        %p We seek to build Joy Generators, experiences that spark wonderment, happiness, and inspiration.
      %li<>
        %h3 Interactive
        %p We create things people can touch, play with, and become a part of. Our work is meant to engage people and get them involved.
      %li<>
        %h3 Social
        %p Soap projects are built to share. We believe strongly in the power of connecting people through shared experiences.
      %li<>
        %h3 High-End
        %p Quality is critical in everything we do. We focus on the tiny details, polishing every component to look and feel just right.
    %h2 Clients
    %ul.list-reset.clients-list
      %li
        %a.client-envoy{href: 'https://envoy.co', target: '_blank'} Envoy
      %li
        %a.client-mightybell{href: 'https://mightybell.com', target: '_blank'} Mightybell
      %li
        %a.client-commonsense{href: 'https://www.commonsensemedia.org', target: '_blank'} Common Sense
      %li
        %a.client-ethereum{href: 'https://www.ethereum.org', target: '_blank'} Ethereum


.page-bar
  .section.center
    %h2#about About

.about-section
  .section.center
    .headshots Ian Hirschfeld and Logan Dwight
    %p
      We're a company of daydreamers and storytellers. Founded by
      %a{href: 'http://ianhirschfeld.com', target: '_blank'} Ian Hirschfeld
      and
      = succeed ',' do
        %a{href: 'http://logandwight.com', target: '_blank'} Logan Dwight
      The Soap Collective builds interactive media that engages people and drives imagination. With combined work in experience design, development, and business strategy, we believe in leveraging the latest technology to imagine better worlds.

.page-bar
  .section.center
    %h2#contact Contact

.contact-section
  .section.center
    %h4.image-text.center We're always interested in your next great idea. Let's work together to make it a reality.
    %a.contact-us{href: 'mailto:info@thesoapcollective.com?subject=Hey%20Soap!'} Get in touch
