#page-header
  %h1 The Soap Collective
  %h4.image-text.center
    We build meaningful experiences
    %br
    that connect people and fuel emotion
  %h3.image-text.center
    %a.goto-projects.center{href: '/work'}
      Our Projects
      .arrow-container
        .arrow-outlined
        .arrow-filled

.page-bar
  .section.center
    %h2#work Work

.project-section.project-role
  .project-inner
    %a.role-logo{href: '/role'} Role - Imagine Together
    %h4.image-text.center
      Group storytelling and adventure at
      %br
      your fingertips, everywhere you go.
    %a.download-app-store{href: 'https://itunes.apple.com/us/app/role-a-role-playing-party-game/id933599454?mt=8'} Download Role on the App Store!
    %a.learn-more{href: '/role'}
      Learn more
      .arrow-container
        .arrow-outlined.point-right
        .arrow-filled.point-right
  .video-overlay.mobile-hide.touch-hide
  %video.video-background.mobile-hide.touch-hide{src: image_path('role_background_video.mp4'), autoplay: true, loop: true, muted: true}

.page-bar
  .section.center
    %h2#about About

.about-section
  .section.center
    .headshots Ian Hirschfeld and Logan Dwight
    %p
      We're a company of daydreamers and storytellers. Founded by
      %a{href: 'http://ianhirschfeld.com', target: '_blank'} Ian Hirschfeld
      and
      = succeed ',' do
        %a{href: 'http://logandwight.com', target: '_blank'} Logan Dwight
      The Soap Collective builds interactive media that engages people and drives imagination. With combined work in design, web &amp; app development, and business strategy, we believe in leveraging the latest technology to imagine better worlds.

.page-bar
  .section.center
    %h2#contact Contact

.contact-section
  .section.center
    %h4.image-text.center We're always interested in your next great idea. Let's work together to make it a reality.
    %a.contact-us{href: 'mailto:info@thesoapcollective.com?subject=Hey%20Soap!'} Get in touch
