%header#page-header
  %h1 The Soap Collective

%article#page-content
  %p#company-intro We're a company of storytellers. Following the tradition that began with spoken word and evolved into books, film, and games, Soap is building new ways for people to share narrative experiences. We believe in leveraging the latest technology to imagine better worlds and connect people in meaningful ways.

  %h2 Who are we?

  #bios
    %a.bio-container{href: 'https://twitter.com/ianhirschfeld', title: "Go to Ian's Twitter page", target: '_blank'}
      .bio-image
      .bio-content
        %h3 Ian Hirschfeld
        %p A builder and obsessive filmmaker who considers himself both engineer and artist. Invested in both telling the story and knowing how to best bring it to life.
    %a.bio-container{href: 'https://twitter.com/logandwight', title: "Go to Logan's Twitter page", target: '_blank'}
      .bio-image
      .bio-content
        %h3 Logan Dwight
        %p Experience designer, writer, and visual artist. Searching for the next narrative leap, beyond the interaction of video games and the synesthesia of film.
