.project-section.project-nbu
  .project-inner.center
    %h2.project-logo.nbu-logo{href: '/never_bout_us'} Never Bout Us
    %h4.image-text.center VR Music Video Experience
    %a.download-app-store{href: 'https://itunes.apple.com/us/app/cameron-grey-never-bout-us-vr/id1104816970', target: '_blank'}<> Download Never Bout Us on the App Store!
    %a.download-google-play{href: 'https://play.google.com/store/apps/details?id=com.thesoapcollective.CameronGreyNeverBoutUs', target: '_blank'}<> Download Never Bout Us on Google Play!

.section.no-gutter
  .video-container
    <iframe width="853" height="480" src="https://www.youtube.com/embed/_dw-Q6seOOk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  %ul.list-reset.project-list.nbu-list
    %li.project-description
      %h3.normal Immersive 360 music experience for Cameron Grey
      %p We worked with artist Cameron Grey to create a 360 music video experience for his song “Never Bout Us”.
      %p Together, we worked to create an immersive story that flows smoothly through the 360° space. The audience follows Cameron as he relives the memories of a brutal breakup.
      %p To support the video experience, we created an app for iOS and Android that allows people to easily view it using both their phone and a cardboard VR viewer.
      %p We also designed the website, social media, and press materials to accompany the song and video release. Included in this was a series of limited-run boxes that contained a custom-branded VR viewer, thank you note, production credits, and 1-of-a-kind instant photos from the video shoot. Cameron then hand-wrote the lyrics inside every box, ensuring that each one was unique.
      %p
        %strong
          %a.website{href: 'http://www.camerongrey.com', target: '_blank'} http://www.camerongrey.com
    - data.nbu.images.each do |image|
      %li.project-image>
        - if image.title.include? 'Press Kit'
          %a{href: image_path(image.path)}= image_tag image_path('rect_loading.png'), data: {src: image_path(image.path)}, alt: image.title
        - else
          %a{href: image_path(image.path)}= image_tag image_path('phone_loading_landscape.png'), data: {src: image_path(image.path)}, alt: image.title
