.project-section.project-role
  .project-inner.center
    %h2.project-logo.role-logo Role - Imagine Together
    %h4.image-text.center
      Group storytelling and adventure at
      %br
      your fingertips, everywhere you go.
    %a.download-app-store{href: 'https://itunes.apple.com/us/app/role-a-role-playing-party-game/id933599454', target: '_blank'} Download Role on the App Store!
  .video-overlay.mobile-hide.touch-hide
  %video.video-background.mobile-hide.touch-hide{src: image_path('role_background_video.mp4'), autoplay: true, loop: true, muted: true}

.section.no-gutter
  .video-container
    <iframe width="853" height="480" src="https://www.youtube.com/embed/_h4W4kjlCmU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  %ul.list-reset.project-list.role-list
    %li.project-description
      %h3.normal A Storytelling Party Game
      %p It started with a question: How can we bring the limitless adventure of tabletop role playing to more people?
      %p We knew it needed to be simple, clean, and easy to learn. The biggest barrier for entry with most tabletop games is the learning curve. We didn’t want people to have to master a giant rule book, collect special dice, or spend an hour filling out a character sheet.
      %p The game needed to be something you could pick up and play at a party, on your lunch break, on the school yard, or at family game night. It needed to make the unfamiliar feel less intimidating and easier to master.
      %p We asked ourselves, where is the core fun of tabletop gaming? We decided it’s in the stories. It’s in the fictional worlds we imagine, the characters we create, and the thrill of taking risks and doing the impossible.
      %p We focused on that, gutted the rest, and put it on an iPhone. The result was Role: a game that anyone can carry with them and play any time, with anyone.
      %p
        %strong
          %a.website{href: 'http://www.roleapp.com', target: '_blank'} http://www.roleapp.com
    - data.role.images.each do |image|
      %li.project-image>
        %a{href: image_path(image.path)}= image_tag image_path('phone_loading.png'), data: {src: image_path(image.path)}, alt: image.title
