.project-section.project-vrll
  .project-inner.center
    %h2.project-logo.vrll-logo VR Love Letters
    %h4.image-text.center
      Experience a place through the eyes
      %br
      of people who love it most.
    %a.download-app-store{href: 'https://itunes.apple.com/us/app/vr-love-letters/id1116574027', target: '_blank'}<> Download VR Love Letters on the App Store!
    %a.download-google-play{href: 'https://play.google.com/store/apps/details?id=com.thesoapcollective.vrll', target: '_blank'}<> Download VR Love Letters on Google Play!

.section.no-gutter
  .ced-image-header
    = image_tag image_path('vrll_cardboard.jpg')
  %ul.list-reset.project-list.weirdcatalog-list
    %li.project-description
      %h3.normal 360 Tributes to the Places We Love
      %p VR has the power to transport you, to take you to places you’ve never been. It can show you perspectives you’ve never seen. We want to harness that power to connect people, sharing the places they call home.
      %p VR Love Letters is a tribute to the places we love the most.
      %p See the world through someone else’s eyes. Travel somewhere you’ve never been, or see your home in a new way. With 360 video and VR, we can do more than just see a place: we can feel its warmth and share its love.
      %p
        %strong
          %a.website{href: 'http://www.vrloveletters.com', target: '_blank'} http://www.vrloveletters.com
